[options]
girs_dir = "gir-files"
library = "GtkSource"
version = "3.0"
min_cfg_version = "3.0"
target_path = "."
work_mode = "normal"
single_version_file = true
generate_safety_asserts = true
deprecate_by_min_version = true

generate = [
    "GtkSource.BackgroundPatternType",
    "GtkSource.ChangeCaseType",
    "GtkSource.CompletionActivation",
    "GtkSource.CompletionItem",
    "GtkSource.CompletionProposal",
    "GtkSource.CompletionProvider",
    "GtkSource.CompletionWords",
    "GtkSource.CompressionType",
    "GtkSource.DrawSpacesFlags",
    "GtkSource.Encoding",
    "GtkSource.File",
    "GtkSource.FileSaverFlags",
    "GtkSource.GutterRendererAlignmentMode",
    "GtkSource.GutterRendererPixbuf",
    "GtkSource.GutterRendererState",
    "GtkSource.GutterRendererText",
    "GtkSource.Language",
    "GtkSource.LanguageManager",
    "GtkSource.Mark",
    "GtkSource.MountOperationFactory",
    "GtkSource.NewlineType",
    "GtkSource.PrintCompositor",
    "GtkSource.Region",
    "GtkSource.SearchSettings",
    "GtkSource.SmartHomeEndType",
    "GtkSource.SortFlags",
    "GtkSource.SpaceDrawer",
    "GtkSource.SpaceLocationFlags",
    "GtkSource.SpaceTypeFlags",
    "GtkSource.StyleScheme",
    "GtkSource.StyleSchemeChooser",
    "GtkSource.StyleSchemeManager",
    "GtkSource.Tag",
    "GtkSource.UndoManager",
    "GtkSource.ViewGutterPosition",
]

builders = [
    "GtkSource.BufferBuilder",
    "GtkSource.CompletionBuilder",
    "GtkSource.CompletionContextBuilder",
    "GtkSource.CompletionItemBuilder",
    "GtkSource.CompletionWordsBuilder",
    "GtkSource.FileBuilder",
    "GtkSource.FileLoaderBuilder",
    "GtkSource.FileSaverBuilder",
    "GtkSource.GutterBuilder",
    "GtkSource.GutterRendererBuilder",
    "GtkSource.GutterRendererPixbufBuilder",
    "GtkSource.GutterRendererTextBuilder",
    "GtkSource.LanguageManagerBuilder",
    "GtkSource.MapBuilder",
    "GtkSource.MarkAttributesBuilder",
    "GtkSource.MarkBuilder",
    "GtkSource.PrintCompositorBuilder",
    "GtkSource.RegionBuilder",
    "GtkSource.SearchContextBuilder",
    "GtkSource.SearchSettingsBuilder",
    "GtkSource.SpaceDrawerBuilder",
    "GtkSource.StyleBuilder",
    "GtkSource.StyleSchemeBuilder",
    "GtkSource.StyleSchemeManagerBuilder",
    "GtkSource.TagBuilder",
]

ignore = [
]

manual = [
    "cairo.Context",
    "Gdk.Event",
    "Gdk.Rectangle",
    "Gdk.RGBA",
    "Gdk.Window",
    "GdkPixbuf.Pixbuf",
    "Gio.Cancellable",
    "Gio.File",
    "Gio.Icon",
    "Gio.InputStream",
    "Gio.Settings",
    "Gio.SettingsBindFlags",
    "GLib.Error",
    "GLib.Priority",
    "GLib.Variant",
    "Gtk.Actionable",
    "Gtk.Adjustment",
    "Gtk.Bin",
    "Gtk.Buildable",
    "Gtk.Button",
    "Gtk.Container",
    "Gtk.PrintContext",
    "Gtk.Scrollable",
    "Gtk.ScrollablePolicy",
    "Gtk.ScrollStep",
    "Gtk.TextBuffer",
    "Gtk.TextIter",
    "Gtk.TextMark",
    "Gtk.TextTag",
    "Gtk.TextTagTable",
    "Gtk.TextView",
    "Gtk.TextWindowType",
    "Gtk.Tooltip",
    "Gtk.Unit",
    "Gtk.Widget",
    "Gtk.Window",
    "Gtk.WrapMode",
    "GtkSource.RegionIter",
    "Pango.FontDescription",
    "Pango.Underline",
]

[[object]]
name = "GtkSource.Buffer"
status = "generate"
    [[object.function]]
    name = "set_undo_manager"
    version = "2.10"
    [[object.function]]
    name = "get_undo_manager"
    version = "2.10"

[[object]]
name = "GtkSource.Completion"
status = "generate"
    [[object.function]]
    name = "create_context"
    ignore = true

[[object]]
name = "GtkSource.CompletionContext"
status = "generate"
    [[object.property]]
    name = "iter"
    ignore = true

[[object]]
name = "GtkSource.CompletionInfo"
status = "generate"
    [[object.function]]
    name = "move_to_iter"
    ignore = true

[[object]]
name = "GtkSource.FileLoader"
status = "generate"
version = "3.14"
manual_traits = ["FileLoaderExtManual"]
    [[object.function]]
    name = "set_candidate_encodings"
    #array of boxed to GSList
    ignore = true
    [[object.function]]
    name = "load_async"
    #callbacks and async parameters at the same time
    ignore = true
    doc_trait_name = "FileLoaderExtManual"

[[object]]
name = "GtkSource.FileSaver"
status = "generate"
version = "3.14"
manual_traits = ["FileSaverExtManual"]
    [[object.function]]
    name = "save_async"
    #callbacks and async parameters at the same time
    ignore = true
    doc_trait_name = "FileSaverExtManual"

[[object]]
name = "GtkSource.Gutter"
status = "generate"
    [[object.function]]
    name = "get_padding"
    ignore = true

[[object]]
name = "GtkSource.GutterRenderer"
status = "generate"
    [[object.function]]
    name = "begin"
        [[object.function.parameter]]
        name = "cr"
        const = true
    [[object.function]]
    name = "draw"
        [[object.function.parameter]]
        name = "cr"
        const = true

[[object]]
name = "GtkSource.Map"
status = "generate"
    [[object.property]]
    name = "font-desc"
    ignore = true

[[object]]
name = "GtkSource.MarkAttributes"
status = "generate"
version = "2.2"
    [[object.function]]
    name = "get_pixbuf"
    ignore = true
    [[object.function]]
    name = "render_icon"
    ignore = true
    [[object.property]]
    pattern = ".+"
    version = "2.2"

[[object]]
name = "GtkSource.SearchContext"
status = "generate"
    [[object.function]]
    name = "replace_all"
        [object.function.return]
        use_return_for_result = true

[[object]]
name = "GtkSource.Style"
status = "generate"
version = "2.0"
    [[object.function]]
    name = "copy"
    ignore = true
    [[object.function]]
    name = "apply"
    ignore = true

[[object]]
name = "GtkSource.StyleSchemeChooserButton"
status = "generate"
version = "3.16"

[[object]]
name = "GtkSource.StyleSchemeChooserWidget"
status = "generate"
version = "3.16"

[[object]]
name = "GtkSource.View"
status = "generate"
    [[object.function]]
    name = "get_mark_attributes"
    ignore = true
    [[object.function]]
    name = "set_mark_attributes"
    version = "2.2"
